<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <div id="green-background"></div>

    <div id="grey-background"></div>

    <main id="mainPart">

        <div id="menuLeft">

            <div id="userAccount">

                <div id="imgName">

                    <img src="img/avatar_io.jpg" alt="">

                    <span>Nome Utente</span>

                </div>

                <div id="iconsAccount">

                    <i class="fas fa-redo-alt"></i>

                    <i class="fas fa-comment-alt"></i>

                    <i class="fas fa-ellipsis-v"></i>

                </div>

            </div>

            <div id="notifications">

                <div id="notify">

                    <i class="fas fa-bell-slash"></i>

                </div>

                <div id="activateNot">
                    
                    <span>Ricevi notifiche di nuovi messaggi</span>
    
                    <span id="activate"><a href="">Attiva notifiche desktop</a></span>
                    
                </div>

                

            </div>

            <div id="searchBar">

                <i class="fas fa-search"></i>

                <input type="text" placeholder=" Cerca o inizia una nuova chat" v-model="searchUser">

            </div>

            <div class="containerContacts">

                <div id="contactsPhone">
    
                    <div class="phoneImage" v-for="contact, i in filterUser" :key="i" @click="changeChat(i)">
    
                        <img :src="contact.profileImage" alt="">
    
                        <div class="spanUsers">
    
                            <span>{{contact.userName}}</span>
        
                            <p>{{contact.messages[contact.messages.length -1].text}}</p>
    
                        </div>
    
                        <div class="dateContacts">
    
                            {{contact.messages[contact.messages.length -1].date}}
    
                        </div>
    
    
                    </div>
    
                </div>

            </div>


        </div>

        <div id="menuRight" >

            <div id="statusUser" class="active" >

                <div id="userImageStatus">

                    <img :src="contacts[chatActive].profileImage" alt="">

                    <div class="spanUsers userSpan">

                        <span>{{contacts[chatActive].userName}}</span>

                        <p>Ultimo accesso alle:{{contacts[chatActive].messages[contacts[chatActive].messages.length -1].date}}</p>

                    </div>

                </div>

                <div id="iconsContact">

                    <i class="fas fa-search"></i>

                    <i class="fas fa-paperclip"></i>

                    <i class="fas fa-ellipsis-v"></i>

                </div>


            </div>

            <div id="chats">

                <div id="messageUser" v-for="message, i in contacts[chatActive].messages" :key="i">

                    <div :class="message.status === 'sent' ? 'sentMessage' : 'receivedMessage'">

                        <span>{{message.text}}</span>

                        <span class="optionMessage" @click="blockInfo"><i class="fas fa-angle-down"></i></span>

                        <div class="infoDelete"  :class="contacts[chatActive].visible === false ? 'active' : ''">

                            <div>Info Messaggio</div>
    
                            <div class="deleteMessage">Cancella Messaggio</div>

                        </div>


                        <p>{{message.date}}</p>
    
                    </div>

                </div>

            </div>

            <div id="messageArea">

                <i class="far fa-smile"></i>

                <input type="text" v-model="newMessage.text" placeholder="Scrivi un messaggio" @keyup.enter="messageToSend(chatActive)">

                <i class="fas fa-microphone"></i>

            </div>

        </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="text/javascript" src="js/myscript.js"></script>
    
</body>
</html>